<nav class="dfr section" data-background-color="#aacec4">

  <div class="col logo s_only ml-auto">
    <img class="" src="/assets/hae.svg" alt="H and E logo">
  </div>

  <ul class=" row mt-auto n tc_m tr ph5_m justify_center">
    <li class="col dfc mt-auto"><a class="no-underline fw4" href="{{ site.github.url }}/index.html">Story</a></li>
    <li class="col dfc mt-auto"><a class="no-underline fw4" href="{{ site.github.url }}/process.html">Process</a></li>
    <li class="col dfc mt-auto"><a class="no-underline fw4 modal__link">Contact</a>
      <!-- The Modal -->
    <div id="contact" class="modal hide">

      <!-- Modal content -->
      <div class="dark">
        <div class="row vh-100 ph4">
          <div class="dfc mh-auto mv-auto ba bw1">
              <div class="row mv4">
                <div class="col mh4 mb4">
                  <div class="row mv2">
                    <span>Email:</span>
                  </div>
                  <div class="row mv2">
                    <a href="mailto:hello@hareandedelweiss.com">hello@hareandedelweiss.com</a>
                  </div>

                </div>
                <div class="col mh4">
                  <div class="row mv2">
                    <span>Instagram</span>
                  </div>
                  <div class="row mv2">
                    <a href="https://www.instagram.com/hareandedelweiss/">@hareandedelweiss</a>
                  </div>

                </div>

              </div>
          </div>
        </div>
      </div>
    </div>
</li>
    <li class="col dfc mt-auto"><a class="no-underline fw4" href="{{ site.github.url }}/blog.html">Blog</a></li>
  </ul>
</nav>
