/* background image */

.bg-img {
  height: 100%;
  width: 100%;
  background-color: black; /* fallback color */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__text {
  background-color: rgba($color-secondary-1-0, 0.7)
 }
}

#stag_hare_3 {
  background-image: url("/assets/images/stag_hare_3.png");
  background-size: cover;
}

#image1 {
  background-image: url("/assets/images/duck_feathers.JPG");
  background-size: cover;
  background-position: 0 -3em;
}

#image2 {
  background-image: url("/assets/images/stag_hare_1.png");
  background-size: cover;
}

#blogimage {
  background-image: url("/assets/images/hae_label.png");
  background-size: cover;
}



.overlay{

  &_symphony {
    background: url(/assets/patterns/symphony.png);
  }

  &_ham {
    background: url(/assets/patterns/hareandmoon.svg) repeat;
  }

  &_fabric {
    background: url(/assets/patterns/fabric_plaid.png) repeat;
  }

  &_fabric_blue {
    background: linear-gradient(rgba($color-secondary-1-0, 0.75), rgba($color-secondary-1-0, 0.75)), url(/assets/patterns/45degreee_fabric.png);
  }
}
