/* Image */

.image {
  &_face {
  height: 75%;
  width: 75%;
  background-image: url(/assets/images/stag.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
  }

}
