/* Navigation */

nav {
  z-index: 9999;

  #menu {
    position: fixed;
  }

  ul{
    margin-left: 0.5em;



    li {
      position: fixed;

      &:first-child {
        bottom: 1.5em;
        left: 10em;
      }

      &:nth-child(2) {
        transform: rotate(-45deg);
        bottom: 11em;
        left: 6em;
      }

      &:last-child {
        transform: rotate(-90deg);
        bottom: 12em;
        left: 0;
      }
    }

    svg {
      fill: white;
      transition: .1s;
  }
}


  svg:hover {
    transform: scale(1.1);
  }
}


@include small-only
