---
layout: base
---

<div class="row">
  <div class="row  top-section">
    <a href="{{ site.github.url }}/" class="mh-auto mb-auto mt7 no-underline "><h3 class="title grow fw1_m fw8 xl light">Hare and Edelweiss</h3></a>

  </div>


  <div style="background-color: {{ page.color }}" class="row bottom-section">


    <div class="col structural m-l_only">
    </div>


    <div class="col mh-auto container ph4 mv4">
      {% include nav.html %}



      {{ content }}

<div class="light">
  {% include nav.html %}

</div>


    </div>

    <div class="col logo m-l_only">
      <img id="logo" src="/assets/hae.svg" alt="Hare and Moon pattern" style="opacity:0;">
    </div>
  </div>







</div>
