/*----------------------------------------*/
/*-- Base/Element styles -----------------*/
/*----------------------------------------*/

html {
  margin: 0;
  // background: url(/assets/hareandmoon.svg) repeat;
  background-color: white;
}

body {
  font-family: $body-fonts;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 1.6;
  margin: auto;
}

body:before, body:after {
    content: "";
    position: fixed;
    background: #ffffff;
    left: 0;
    right: 0;
    height: 1.5em;
    z-index: 800
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    z-index: 800;
    border-left: 1.5em solid #ffffff;
    border-right: 1.5em solid #ffffff;
}

a {
  color: inherit;
  transition: 0.2s;
}


ul {
  list-style: none;
  padding: 0;
}

h1,h2,h3,h4 {
  margin: 0 0;
}


form {
  margin: 0
}

button, input {
  border: none;
}
